.department-feed-more-button{
    width: 10%;
    border-radius: 12px;
    background-color: rgb(200, 199, 181);
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 1rem;
    cursor: pointer;
    font-weight: 600;
}

.top-button {
    margin-bottom: 1rem;
}