.user-card-container {
    display: flex;
    flex-wrap: wrap;
}

.userprofile-card {
    border: 1px solid;
    width: 20%;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(200, 199, 181);
}

.add-friend-button{
    float: right;
    cursor: pointer;
}