.pointer {
    cursor: pointer;
  }

.navbar-nav {
  width: 100%;
}

.navbar-spacer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar {
  background-color: rgb(191, 167, 127);
  
}

a, .navbar-text {
  font-weight: 600;
   color:rgb(55, 47, 45) !important;
   margin-left: 2rem;
}

.site-logo-img {
  margin-top: -4rem;
  margin-bottom: -4rem;
  margin-left: -2rem;
}

.navbar {
  width: 100%;
}

.navbar-right-side {
  display: flex;
}