.exhibit-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.exhibit-card {
    border-radius: 12px;
    width: 60%;
    margin-bottom: 2rem;
    background-color: rgb(191, 167, 127);
    padding-top: 1rem;
    
}

.exhibit-card-image {
    width: 30em;
}

.exhibit-card-details {
    text-align: left;
    margin: 2rem;
}

.post-this-button {
    text-align: center;
    width: 20%;
    border: 1px solid;
    border-radius: 12px;
    margin: 1rem;
    background-color: blanchedalmond;
    cursor: pointer;
    float: right;
}

.browser-post-this-button {
    text-align: center;
    width: 15%;
    border: 1px solid;
    border-radius: 12px;
    margin: 1rem;
    background-color: blanchedalmond;
    cursor: pointer;
    float: right;
}

.postModal {
    margin: auto;
    margin-top: 25em;
    width: 40%;
    background-color: rgb(200, 199, 181);
    border: 1px solid;
    padding: 1rem;
}

.modal-stuff {
    display: flex;
}

.modalInput {
    width: 80%;
    margin-right: 2rem;
}

.modal-save-button {
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

/* Comment Stuff */

.comment-container {
    max-height: 23rem;
    overflow-y: auto;
}

.comment-delete-button {
    cursor: pointer;
}

.comment-edit-button {
    cursor: pointer;
}

.myexhibits-comment-controls {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    float: right;
    margin-top: -1rem;
}

